<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
          Account Login
        </h1>
      </div>
        <img class="rounded-circle mx-auto d-block logo m-4" src="/img/logo.png" alt="Logo">
      <div class="card-body">
        <a href="http://127.0.0.1:80/utils/login?redirect=http://localhost:4000/users/sign" class="btn btn-primary btn-block">Signin</a>
        <br />
        <div class="btn-group">
          <a class='btn btn-danger disabled'><i class="fa fa-google-plus" style="width:16px; height:20px"></i></a>
          <a class='btn btn-danger' href='' style="width:12em;"> Sign in with Google</a>
        </div>
      </div>
    </div>
  </div>
</div>
